@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

* {
    box-sizing: border-box;
}

.auth-page {
    height: 100vh;
    background-color: #fafafa;

    /* display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 2fr 6fr 1fr;
    grid-template-areas:
    '.'
    'form'
    '.'
    'footer'; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    grid-area: form;

    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.auth-form-easter-egg {
    grid-area: form;

    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(25deg, #fccc63, #fbad50, #e95950, #bc2a8d, #8a3ab9, #833AB4);
    background-size: 300% 300%;
    animation: login-spread 3s ease-in-out infinite;
}

@keyframes login-spread {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.auth-logo-div {
    user-select: none;
}

.auth-logo {
    cursor: pointer;
    font-family: 'Grand Hotel', cursive;
}

.inner-form-ele {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 2% 25% 2% 2%;
}

.inner-form-ele-easter-egg {
    width: 100%;
    color: white;
    padding: 2% 25% 2% 2%;
}

.auth-button-div {
    cursor: pointer;
    border-radius: 3px;
    background-color: #0095f6;
    text-align: center;
}

.auth-button-div:hover {
    box-shadow: 0 0 5px black;
}

.auth-errors-div {
    position: relative;
    text-align: center;
}

#auth-footer {
    grid-area: footer;

}

#auth-footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
