@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

* {
    box-sizing: border-box;
}

.auth-page {
    height: 100vh;
    background-color: #fafafa;
    padding-top: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    border: 1px solid #dbdbdb;
    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-form-easter-egg {
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(25deg, #fccc63, #fbad50, #e95950, #bc2a8d, #8a3ab9, #833AB4);
    background-size: 300% 300%;
    animation: login-spread 3s ease-in-out infinite;
}

@keyframes login-spread {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.auth-logo-div {
    user-select: none;
    display: grid;
    justify-content: center;
}

.auth-logo {
    cursor: pointer;
    font-family: 'Grand Hotel', cursive;
}

.inner-form-ele {
    width: 85%;
    height: 45px;
    padding: 2% 25% 2% 2%;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
}

.inner-form-ele-easter-egg {
    width: 85%;
    height: 45px;
    padding: 2% 25% 2% 2%;
}

.auth-button-div {
    border-radius: 5px;
    background-color: #0095f6;
    margin-top: 15px;
    width: 85%;
    height: 40px;
    position: relative;
    left: 7.5%;
}

.auth-button-div-easter-egg {
    border-radius: 5px;
    background-color: #fccc63;
    margin-top: 15px;
    width: 85%;
    height: 40px;
    position: relative;
    left: 7.5%;
}

.auth-errors-div {
    position: relative;
    left: 23%;
    color: red;
    text-align: left;
}

.auth-errors-div-easter-egg {
    position: relative;
    left: 23%;
    color: white;
    text-align: left;
}

.light-auth-text {
    color: white;
}

.dark-auth-text {
    color: gray;
}

#auth-footer {
    grid-area: footer;
}

#auth-footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
