#login-page {
    height: 100vh;
    background-color: #fafafa;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 2fr 6fr 1fr;
    grid-template-areas:
    '.'
    'form'
    '.'
    'footer';
}

#login-form {
    grid-area: form;
    height: 300px;
    width: 300px;

    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(25deg, #fccc63, #fbad50, #e95950, #bc2a8d, #8a3ab9, #833AB4);
    background-size: 300% 300%;
    animation: login-spread 3s ease-in-out infinite;
}

#login-form:hover {
    background: linear-gradient(25deg, #fccc63, #fbad50, #e95950, #bc2a8d, #8a3ab9, #833AB4);
}

@keyframes login-spread {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#finstagram-logo-div {
    user-select: none;
    font-size: 45px;
}

#finstagram-logo {
    font-family: 'Grand Hotel', cursive;
}

.outer-form-ele {
    font-size: 14px;
    margin: 5px;
    padding: 5px;

    position: relative;
    right: 10%;
    top: 30%;
    border-radius: 2px;
}

.inner-form-ele {
    width: 100%;
    color: white;
}


#visibility-button-visible {
    cursor: pointer;
    font-weight: 500;

    position: relative;
    left: 90%;
    bottom: 85%;
    width: 20%;
}

#visibility-button-invisible {
    visibility: hidden;
}

#login-button-div {
    cursor: pointer;
    border-radius: 3px;
    background-color: #0095f6;
    text-align: center;
}

#login-button-div:hover {
    box-shadow: 0 0 5px whitesmoke;
}

#login-button {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
}

#login-errors-div {
    text-align: center;
    font-size: 13px;
    bottom: 5%;
    position: relative;
    height: 20px;
    width: 200px;
}
