#login-form {
    height: 350px;
    width: 350px;
}

#login-logo-div {
    font-size: 45px;
    margin-bottom: 15%;
}

.outer-login-form-ele {
    font-size: 15.5px;
}

.outer-login-form-ele-easter-egg {
    font-size: 15.5px;
}

#login-password-input {
    margin-top: 3%;
    padding-right: 25%;
}

#visibility-button-visible {
    cursor: pointer;
    font-weight: 500;

    position: relative;
    left: 70%;
    bottom: 110%;
    width: 20%;
}

#visibility-button-invisible {
    visibility: hidden;
}

#login-button {
    cursor: pointer;
    font-size: 17px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#login-errors-div {
    font-size: 13px;
    bottom: 5%;
    left: 8%;
    height: 20px;
    width: 230px;
}

#demo-button {
    cursor: pointer;
    color: #0095F6;
}

#demo-button-easter-egg {
    cursor: pointer;
    color: white;
}
