#login-form {
    height: 350px;
    width: 300px;
}

#login-logo-div {
    font-size: 45px;
    margin-bottom: 15%;
}

.outer-login-form-ele {
    font-size: 13px;
    height: 21px;
}

#login-password-input {
    margin-top: 3%;
    padding-right: 25%;
}

#visibility-button-visible {
    cursor: pointer;
    font-weight: 500;

    position: relative;
    left: 70%;
    bottom: 110%;
    width: 20%;
}

#visibility-button-invisible {
    visibility: hidden;
}

#login-button {
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#login-errors-div {
    font-size: 13px;
    bottom: 5%;
    left: 8%;
    height: 20px;
    width: 230px;
}

#demo-button {
    cursor: pointer;
    color: #0095F6;
    font-size: 13px;
}

#demo-button-easter-egg {
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.link-to-signup-container {
    border: 1px solid rgb(196, 196, 196);
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.signup-link {
    margin-left: 10px;
    /* font-weight: 900; */
}

#signup-link {
    color: #0095F6;
}
