#signup-form {
    height: 600px;
    width: 400px;
}

#signup-logo-div {
    font-size: 45px;
}

.outer-form-ele {
    font-size: 14px;
    margin: 5px;
    padding: 5px;

    position: relative;
    right: 10%;
    top: 30%;
    border-radius: 2px;
}

#signup-button {

}

#login-errors-div {
    height: 20px;
    width: 200px;

    font-size: 14px;
    bottom: 5%;
}
