#signup-form {
    height: 700px;
    width: 450px;
}

.outer-signup-form-ele {
    font-size: 15.5px;
    position: relative;
    height: 15px;
}

.outer-signup-form-ele-easter-egg {
    font-size: 20px;
    position: relative;
    height: 15px;
}

#signup-logo-div {
    font-size: 70px;
    width: 50%;
    position: relative;
    left: 25%;
    overflow-wrap: break-word;
}

#signup-form-text {
    font-size: 16px;
    margin-top: 10%;
}

#signup-button {
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

#signup-errors-div {
    bottom: 15%;
    font-size: 14px;
    height: 40px;
    width: 100%;
}
