#signup-form {
    height: 600px;
    width: 400px;
}

.outer-signup-form-ele {
    font-size: 20px;
    position: relative;
    top: 30%;
}

.outer-signup-form-ele-easter-egg {
    font-size: 20px;
    position: relative;
    right: 20%;
    top: 30%;
}

#signup-logo-div {
    font-size: 45px;
}

#signup-button {
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

#signup-errors-div {
    height: 40px;
    width: 200px;

    font-size: 14px;
    bottom: 5%;
}
