.pointer-cursor { cursor: pointer; }

.default-cursor { cursor: default; }

.details-container {
    display: flex;
    background-color: #fff;
}

.details-image-container {
    min-width: 480px;
    max-width: 600px;
    min-height: 400px;
    max-height: 720px;
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.detail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details {
    width: 300px;
    height: inherit;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.060);
    padding: 10px;
}

.explore-profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 12px;
}

.explore-profile-pic:hover {
    cursor: pointer;
}

.user-name {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.explore-follow {
    color: #0095F6;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.explore-following {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.explore-follow:hover,
.explore-following:hover {
    cursor: pointer;
}

.user-name-description {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.user-name-description:hover {
    cursor: pointer;
    text-decoration: underline;
}

.explore-comment-section {
    flex-basis: 200px;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none; /* hide scrollbar in firefox */
}

.explore-comment-section::-webkit-scrollbar {
    width: 0; /* hide scrollbar in chrome */
}

.explore-comment-text {
    font-size: 14px;
    width: fit-content;
    overflow-wrap: break-word;
}

.explore-photo-description {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.explore-commenter-container {
    padding: 10px;
    display: flex;
}

.explore-post-interaction-icons-container {
    padding: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #83838360;
}

.explore-likes-counter {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
