.pointer-cursor { cursor: pointer; }

.default-cursor { cursor: default; }

.post-container {
    border: 1px solid #83838360;
    height: fit-content;
    margin-bottom: 30px;
    border-radius: 2px;
}

.post-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header-user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.post-profile-picture {
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 15px;
}

.post-user {
    font-size: 14px;
    font-weight: 600;
}

.post-profile-picture:hover,
.post-user:hover {
    cursor: pointer;
}

.options {
    margin-right: 20px;
    font-weight: lighter;
    font-size: 25px;
}

.options:hover,
.comment-options-icon:hover {
    cursor: pointer;
}

.post-image {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.post-interaction-icons-container {
    padding-left: 15px;
    margin-bottom: 15px;
}

.feed-likes-count {
    margin-left: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.feed-like-icon,
.feed-comment-icon {
    font-size: 25px;
    margin-right: 20px;
    font-weight: lighter;
}

.feed-like-icon:hover,
.feed-comment-icon:hover,
.feed-like-icon-filled:hover {
    cursor: pointer;
}

.feed-like-icon:hover,
.feed-comment-icon:hover {
    color: #bbbbbb;
}

.feed-like-icon-filled {
    font-size: 25px;
    margin-right: 20px;
    color: red;
}

.post-page-description-container,
.comments-container,
.view-comments {
    cursor: pointer;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.post-page-description-container {
    margin-bottom: 20px;
}

.view-comments {
    color: #838383;
    font-size: 15px;
}


.post-description-user,
.comment-user {
    font-weight: 600;
    margin-right: 6px;
}

.comments-container {
    height: fit-content;
}

.comment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.comment-options-container {
    max-width: 40px;
    min-width: 40px;
}

.comment-options-icon {
    margin-right: 20px;
    font-weight: lighter;
    font-size: 20px;
}


.feed-comment {
    margin-bottom: 5px;
    width: 100%;
    overflow-wrap: break-word;
}

.feed-new-comment-form {
    border-top: 1px solid #83838360;
    display: flex;
}

.feed-new-comment-input {
    width: 100%;
    min-height: fit-content;
    padding: 18px 18px;
    resize: none;
}

.feed-new-comment-input::placeholder {
    font-size: 14px;
}

.feed-new-comment-button {
    cursor: pointer;
    color: #0095F6;
    height: fit-content;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.disabled-true {
    cursor: not-allowed;
    color: #0094f65d;
}
