.feed-page-container {
    height: fit-content;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.feed-container {
    height: fit-content;
    width: 600px;
}

.profile-container {
    height: 60px;
    width: 250px;
    display: flex;
}

.feed-profile-picture {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.feed-profile-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feed-profile-username {
    font-size: 14px;
    font-weight: 600;
}

.feed-profile-firstlastname {
    font-size: 14px;
    color: #838383;
}

.feed-profile-picture:hover,
.feed-profile-username:hover {
    cursor: pointer;
}

@media (max-width: 870px) {
    .profile-container {
        display: none;
    }

    .feed-container {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .feed-container {
        width: 100vw;
    }
}
