@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.nav-container {
    border: 1px solid #efefef;
    height: 50px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.finstagram-logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    font-weight: 600;
}

.finstagram-logo:hover {
    cursor: pointer;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container > div {
    margin-right: 20px;
}

.home-icon {
    height: 28px;
    width: 28px;
    font-weight: lighter;
    position: relative;
    top: 2px;
}

.explore-icon {
    font-size: 26px;
}

.profile-picture-container {
    position: relative;
    top: 2px;
}

.profile-picture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
    padding-bottom: 3px;
    margin: 0 auto;
}

.dropdown-true {
    border: 1px solid rgb(0, 0, 0);
}

.profile-picture:hover {
    cursor: pointer;
}

.profile-dropdown {
    box-shadow: 0px 0px 5px 1px #dfdfdf;
    position: absolute;
    background-color: white;
    bottom: -80px;
    left: -100px;
    width: 200px;
    border-radius: 5px;
}

.profile-button-container,
.logout-button-container {
    padding: 8px 12px;
}

.profile-button-container:hover,
.logout-button-container:hover,
.logout-comp:hover {
    cursor: pointer;
}

.profile-border {
    border: 1px solid;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -1px;
    right: -3px;
}

.profile-icon {
    margin-right: 7px;
}

.logout-button-container {
    border-top: 1px solid rgba(0, 0, 0, 0.205)
}
