.post-form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px;
}

.post-form-logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.post-description {
    border: 1px solid #838383;
    padding: 10px;
    resize: none;
    margin-bottom: 20px;
}

.post-file-button {
    border: 1px solid #838383;
    height: 40px;
    color: #0095F6;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.post-file-button:hover {
    cursor: pointer;
}

.post-file-input {
    margin-bottom: 20px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
}

.content-true {
    background-color: rgb(194, 248, 194);
}

.post-form-button {
    background-color: #0095F6;
    color: white;
    padding: 10px 0;
    border-radius: 4px;
}

.post-form-button:hover {
    cursor: pointer;
}
