* {
    box-sizing: border-box;
}

#profile-page-container {
}

#profile-page-cards-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 0.25fr;
}

.profile-page-cards {
    height: 300px;
    background-color: red;
}
