* {
    box-sizing: border-box;
}

.pointer-cursor { cursor: pointer; }

.default-cursor { cursor: default; }

.bold { font-weight: 700; }

.profile-posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    max-width: 975px;
    min-width: 300px;
    margin: auto;
    grid-gap: 30px;
    grid-auto-flow: dense;
    margin-bottom: 1%;
}

.profile-posts {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.profile-posts img:hover,
.profile-posts video:hover {
    filter:brightness(70%);
}
