.profile-post-container {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 2vw;
    border-radius: 10px;
}

.post-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header-user-info {
    display: flex;
    align-items: center;
}

.post-profile-picture {
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 15px;
}

.post-user {
    font-size: 14px;
    font-weight: 600;
}

.options {
    margin-right: 20px;
    font-weight: lighter;
    font-size: 25px;
}

.options:hover {
    cursor: pointer;
}

.profile-post-image {
    height: 25vw;
    width: 25vw;
}

.post-interaction-icons-container {
    padding-left: 15px;
    margin-bottom: 15px;
}

.profile-likes-count {
    margin-left: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.profile-like-icon,
.profile-comment-icon {
    font-size: 25px;
    margin-right: 20px;
    font-weight: lighter;
}

.profile-like-icon-pressed {
    font-size: 25px;
    margin-right: 20px;
    font-weight: lighter;
    transform: translate(0px, -3px);
    animation: pulse;
}

.profile-like-icon:hover,
.profile-comment-icon:hover,
.profile-like-icon-filled:hover {
    cursor: pointer;
}

.profile-like-icon:hover,
.profile-comment-icon:hover {
    color: #bbbbbb;
}

.profile-like-icon-filled {
    font-size: 25px;
    margin-right: 20px;
    color: red;
}

.post-page-description-container,
.comments-container,
.view-comments {
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.view-comments {
    color: #838383;
    font-size: 15px;
}

.post-description-user,
.comment-user {
    font-weight: 600;
    margin-right: 6px;
}

.comments-container {
    height: fit-content;
}

.profile-comment {
    margin-bottom: 5px;
}

.profile-new-comment-form {
    border-top: 1px solid #83838360;
    display: flex;
}

.profile-new-comment-input {
    width: 100%;
    min-height: fit-content;
    padding: 18px 18px;
    word-wrap: break-word;
    resize: none;
}

.profile-new-comment-input::placeholder {
    font-size: 14px;
}

.profile-new-comment-button {
    cursor: pointer;
    color: #0095F6;
    height: fit-content;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.disabled-true {
    cursor: not-allowed;
    color: #0094f65d;
}
