.pointer_cursor { cursor: pointer; }

.default-cursor { cursor: default; }

.profile-header-container {
    margin: 60px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'a . .'
    '. b .'
    '. c .';
}

.header-username {
    grid-area: a;
    font-size: 25px;
}

.header-name {
    grid-area: c;
    position: relative;
    left: 25%;
    bottom: 55%;
}

.header-profile-img {
    width: 155px;
    border-radius: 50%;
    position: absolute;
    margin-left: 25.5%;
    top: 6%;
}

.header-section-1 {
    grid-area: a;
    width: fit-content;
    position: relative;
    left: 125%;
    bottom: 165%;
}

.header-section-2 {
    grid-area: b;
    position: relative;
    bottom: 100%;
    left: 25%;
    width: 40%;
}

.header-section-1a {
    grid-area: a;
}

.header-section-2a {
    display: flex;
    justify-content: space-between;
}


.profile-ellipsis {
    cursor: pointer;
    position: relative;
    left: 80px;
}


.options {
    position: relative;
    bottom: 100%;
    left: 89%;
    font-weight: lighter;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
}

.options:hover {
    cursor: pointer;
}

.profile-post-image-container {
    min-width: 480px;
    max-width: 600px;
    min-height: 400px;
    max-height: 720px;
    height: auto;
}

.post-interaction-icons-container {
    padding-left: 15px;
    margin-bottom: 15px;
}

.profile-likes-count {
    margin-left: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.profile-like-icon,
.profile-comment-icon {
    font-size: 25px;
    margin-right: 20px;
    font-weight: lighter;
}

.profile-like-icon-pressed {
    font-size: 25px;
    margin-right: 20px;
    font-weight: lighter;
    transform: translate(0px, -3px);
    animation: pulse;
}

.profile-like-icon:hover,
.profile-comment-icon:hover,
.profile-like-icon-filled:hover {
    cursor: pointer;
}

.profile-like-icon:hover,
.profile-comment-icon:hover {
    color: #bbbbbb;
}

.profile-like-icon-filled {
    font-size: 25px;
    margin-right: 20px;
    color: red;
}

.post-page-description-container,
.comments-container,
.view-comments {
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.view-comments {
    color: #838383;
    font-size: 15px;
}

.post-description-user,
.comment-user {
    font-weight: 600;
    margin-right: 6px;
}

.comments-container {
    height: fit-content;
}

.profile-comment {
    margin-bottom: 5px;
}

.profile-new-comment-form {
    border-top: 1px solid #83838360;
    display: flex;
}

.profile-new-comment-input {
    width: 100%;
    min-height: fit-content;
    padding: 18px 18px;
    word-wrap: break-word;
    resize: none;
}

.profile-new-comment-input::placeholder {
    font-size: 14px;
}

.profile-new-comment-button {
    cursor: pointer;
    color: #0095F6;
    height: fit-content;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.disabled-true {
    cursor: not-allowed;
    color: #0094f65d;
}
