.login-content-container {
    display: flex;
    margin: 125px 125px 0 0;
    align-items: flex-start;
}

.carousel-holder {
    height: 600px;
    width: 440px;
    background-size: 95%;
    background-repeat: no-repeat;
    position: relative;
}

.carousel {
    height: 68%;
    width: 50%;
    border: 1px solid rgba(212, 212, 212, 0.295);
    position: absolute;
    right: 65px;
    top: 72px;
}

.carousel-image {
    width: 100%;
}
