body {
    background-color: #fafafa;
}

.login-content-container {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    min-width: 302px;
    min-height: 422px;
}

.carousel-holder {
    height: 600px;
    width: 440px;
    background-size: 95%;
    background-repeat: no-repeat;
    position: relative;
}

.carousel {
    height: 68%;
    width: 50%;
    border: 1px solid rgba(212, 212, 212, 0.295);
    position: absolute;
    right: 65px;
    top: 72px;
}

.carousel-image {
    width: 100%;
}

.auth-footer {
    display: flex;
    width: fit-content;
    position: absolute;
    bottom: 3px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.about-link {
    margin-right: 40px;
}

@media (max-width: 980px) {
    .carousel-holder {
        display: none;
    }

    .carousel {
        display: none;
    }

    .carousel-image {
        display: none;
    }
}
